<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		body {background-color: powderblue;	
			text-align: center;
		}
		h2{font-size: 300%;}
	</style>

</head>
<body>

	<div class="jumbotron">
		<div class = "center-block" style="max-width:400px">
			<h1>Welcome</h1>
		</div>	
	</div>
	<h2>
	Name: Ankur harna<br>
	Email Id: anankur17@gmail.com<br>
	Mob no: 9650023649<br>
	</h2>
	<div class="center-block" style="max-width:400px">
  		<a href="answer/show" class="btn-lg btn-success">Accept</a>
		
	</div>

</body>
</html>